@model IEnumerable<Paciente>;

<h1>Pacientes</h1>

@if (TempData["TipoMensagem"] != null)
{
    if (TempData["TipoMensagem"].ToString() == "SUCESSO")
    {
        <div class="alert alert-success">@TempData["Mensagem"].ToString()</div>
    }
    else if (TempData["TipoMensagem"].ToString() == "ERRO")
    {
        <div class="alert alert-danger">@TempData["Mensagem"].ToString()</div>
    }
}

<form method="post">
    <div class="form-group">
        <label for="txtNome">Informe o nome do paciente</label>
        <input id="txtNome" name="Nome" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-sm">
            @Html.DisplayNameFor(model => model.Cpf)
        </div>
        <div class="col-sm">
            @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="col-sm">
            @Html.DisplayNameFor(model => model.Ativo)
        </div>
        <div class="col-sm">
            Editar
        </div>
    </div>
    @if (Model != null)
    {
        @foreach (Paciente usuario in Model)
        {
            <div class="row">
                <div class="col-sm">
                    @usuario.Cpf
                </div>
                <div class="col-sm">
                    @usuario.Nome
                </div>
                <div class="col-sm">
                    @usuario.Ativo
                </div>
                <div class="col-sm ">
                    <a class="btn btn-sm btn-secondary" asp-action="EditarPaciente" asp-route-id="@usuario.ID">Editar</a>
                </div>
            </div>
        }
    }
</div>